@{
    ViewData["Title"] = "Registro GameJam";
}

<style>
body{
    background-image: url("https://img.freepik.com/foto-gratis/papel-tapiz-estetico-nubes_23-2151901841.jpg?semt=ais_hybrid&w=740&q=80");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.container-form{
    height:90vh;
    display:flex;
    justify-content:center;
    align-items:center;
}


.card-custom{
    width:420px;
    background: rgba(255,255,255,0.85);
    border-radius:15px;
    padding:25px;
    box-shadow:0px 8px 25px rgba(0,0,0,0.2);
}
</style>

<div class="container-form">
    
    <div class="card-custom">
        
        <h2 class="text-center text-primary mb-4">Registro GameJam 🎮</h2>

        <form method="post" action="/GameJam/Registrar">

            <div class="mb-3">
                <label class="form-label">Nombre del jugador</label>
                <input type="text" class="form-control" name="Nombre" required>
            </div>

            <div class="mb-3">
                <label class="form-label">Fecha de nacimiento</label>
                <input type="date" class="form-control" name="FechaNacimiento" required>
            </div>

            <div class="mb-3">
                <label class="form-label">Hobbies</label>
                <input type="text" class="form-control" name="Hobbies">
            </div>

            <div class="form-check mb-3">
                <input class="form-check-input" type="checkbox" name="PagoMatricula">
                <label class="form-check-label">
                    Pago de matrícula
                </label>
            </div>

            <div class="d-grid">
                <button class="btn btn-success">Registrar</button>
            </div>

        </form>

    </div>

</div>