<div class="container text-center mt-5">

    <div class="card shadow p-4">

        <h2 class="text-primary">Resultado del Registro</h2>

        <p class="fs-4">@ViewBag.Mensaje</p>

        <a href="/GameJam/Formulario" class="btn btn-primary mt-3">
            Volver al formulario
        </a>

    </div>

</div>